@use "boostrap.scss";

body {
    font-family: 'LINE Seed Sans TH', sans-serif;
}

.text-xs {
    font-size: 0.625rem;
}
.text-sm {
    font-size: 0.875rem;
}
.text-base {
    font-size: 1rem;
}
.text-lg {
    font-size: 1.125rem;
}
.text-xl {
    font-size: 1.25rem;
}
.text-2xl {
    font-size: 1.5rem;
}
.text-white {
    color: #ffffff;
}
.bg-red {
    background-color: #7c0304;
}
.member-card {
    position: relative;
    width: 365px;
    img{
        border-radius: 15px;
    }
    .member-qr{
        position: absolute;
        top:20px;
        right: 20px;
        background-color: #ffffff;
        border-radius: 50%;
        padding: 0.2rem 0.25rem;
        cursor: pointer;
    }
    .member-no-label{
        position: absolute;
        bottom: 25px;
        left: 20px;
    }
    .member-no{
        position: absolute;
        bottom: 10px;
        left: 20px;
    }
    .member-valid-label{
        position: absolute;
        bottom: 25px;
        right: 20px;
    }
    .member-valid{
        position: absolute;
        bottom: 10px;
        right: 20px;
    }
}

.btn-scan-qr{
    background-color: #ffffff;
    border-radius: 50px;
    border: none;
    padding: 0.825rem 1rem;
    width: 100%;
    color: #7c0304;
    display: block;
    text-align: center;
}

.progress{
    background-color: #252525;
    height: 0.725rem;
    .progress-bar{
        background-color: #fff;
        img{
            position: absolute;
            z-index: 1;
            width: 20px;
        }
    }
}

.card-event{
    background: linear-gradient(135deg, #7e0014, #e70014 34%, #b5011a);
    border-radius: 15px;
    filter:drop-shadow(0 0 3px rgba(0,0,0,0.5));
    padding: 1rem;
    .count-box{
        background-color: #fff;
        border-radius: 8px;
        filter:drop-shadow(0 0 3px rgba(0,0,0,0.5));
        padding: 0.2rem 2rem;
    }
}